svg {
  height: 6rem;
}

svg .circle-background,
svg .circle-progress {
  fill: none;
}

svg .circle-background {
  stroke: #ddd;
}

svg .circle-progress {
  stroke: #547DE2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg .circle-text {
  font-size: 5rem;
  font-weight: bold;
  fill: #547DE2;
}