#page-cuidadores {
    width: 100vw;
    min-height: 100vh;
    background: rgb(238, 241, 250);
}

#page-cuidadores main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-cuidadores main h1 {
    margin: 2rem 0 3rem;
}

#page-cuidadores main .tasks {
    width: calc(100% - 3.2rem);
    padding: 0 1.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFF;
    border-radius: 1rem;
}

#page-cuidadores main .tasks .title {
    background-color: #547DE2;
    color: #FFF;

    width: 94%;
    padding: 2rem 2rem;

    border-radius: 1rem;
    margin-top: -1.5rem;
}

#page-cuidadores main .tasks .title h2 {
    font-size: 2rem;
}

#page-cuidadores main .tasks .content {
    width: 100%;

    padding: 1.6rem 0 3.2rem;
}

#page-cuidadores main .tasks .completed {
    margin-top: 1.6rem;
}

#page-cuidadores main .tasks .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

#page-cuidadores main .tasks .task-item-group {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
}

#page-cuidadores main .tasks .duration {
    opacity: 0.8;
    font-size: 1.2rem;
}