#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-bar > #add-button {
  background: #547DE2;
  
  color: #FFF;
  font-size: 1.6rem;

  border-radius: 0.4rem;

  display: flex;
  align-items: center;

  padding: 0.8rem 2.4rem;

  cursor: pointer;
}

#top-bar > #add-button > img {
  margin-right: 0.8rem;
}

#top-bar > #searchPatientForm > input {
  background: #F8F8FC;

  border: 1px solid #E6E6F0;
  border-radius: 4px;

  padding: 0.8rem 1.6rem;

  color: #4F4F4F;
  font-size: 1.6rem;

  margin-right: 0.8rem;
}

#top-bar > #searchPatientForm > button {
  background: #547DE2;

  border: 0;
  border-radius: 4px;

  padding: 0.8rem 1.6rem;

  color: #FFF;
  font-size: 1.6rem;

  cursor: pointer;
}

#top-bar > #searchPatientForm > button > img {
  margin-right: 0.8rem;
}

#search-title {
  font-size: 1.8rem;
  font-weight: 400;

  margin: 1.6rem 0 0.8rem;
}

#search-alphabet {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  border-top: 1px solid #E6E6F0;
  border-bottom: 1px solid #E6E6F0;

  padding: 0.8rem 0;
}

#search-alphabet > span {
  cursor: pointer;
}

#search-alphabet > span.active {
  font-weight: 600;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

#cards-container > .card {
  background: #FFFFFF;

  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  padding: 2.4rem 1.6rem 0.8rem;

  cursor: pointer;
}

#cards-container > .card h4 {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

#cards-container > .card p {
  margin: 0;
  margin-bottom: 2.4rem;
}

#cards-container > .card img{
  width: 50%;
}

#cards-container > .card footer {
  border-top: 1px solid #E6E6F0;
  width: 100%;
  text-align: center;
  padding-top: 0.8rem;
}

.scroll-cards {
  overflow-y: scroll;

  margin-top: 0.8rem;

  min-height: 100%;
  max-height: calc(100vh - 8.3rem - 4.3rem - 2.7rem - 4.3rem - 4.8rem - 1.6rem);
}

#add-pacient-modal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

#add-pacient-modal > .overlay {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

#add-pacient-modal > .content {
  position: relative;

  background: #FFF;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;

  width: 48rem;
  padding: 3.2rem 2.4rem;
}

#add-pacient-modal > .content > h3 {
  color: #4F4F4F;
  font-size: 1.8rem;
  font-weight: 600;

  margin-bottom: 0.8rem;
}

#add-pacient-modal > .content > p {
  color: #828282;
  font-size: 1.2rem;

  margin: 0;
  padding: 0;

  margin-bottom: 1.6rem;
}

#add-pacient-modal > .content form {
  display: flex;
  flex-direction: column;
}

#add-pacient-modal > .content label {
  color: #4F4F4F;
  font-size: 1.6rem;

  margin-bottom: 0.8rem;
}

#add-pacient-modal > .content input {
  background: #F8F8FC;

  color: #4F4F4F;

  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 0.4rem;

  padding: 0.8rem;
  margin-bottom: 0.8rem;
}

#add-pacient-modal > .content button {
  background: #547DE2;
  
  color: #FFF;
  font-weight: 400;
  font-size: 1.6rem;

  padding: 0.8rem;

  border: 0;
  border-radius: 0.4rem;

  cursor: pointer;
}

#add-pacient-modal > .content > button:hover {
  background: #4364B5;
}

#add-pacient-modal > .content > span {
  position: absolute;

  top: 3.2rem;
  right: 3.2rem;

  cursor: pointer;
}

#add-pacient-modal.hide {
  display: none!important;
}