#root {
    overflow-y: scroll;
}

#page-perfil {
    height: 100vh;
    background: rgb(238, 241, 250);
}

#page-perfil .forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

#page-perfil nav {
    width: 90%;
}

.edit {
    position: fixed;
    right: 20px;
    bottom: 30px;
}

p {
    margin: 20px;
    margin-bottom: 40px;
}

.listItem {
    height: 40px;
}

#page-perfil .title {
    font-weight: bold;
}

.description {
    margin-right: 5px;
}

.send-buttom {
    margin-top: 100px;
    text-decoration: none;
}

.logout {
    cursor: pointer;
}

/* edit */

#page-edit {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#page-edit main {
    position: absolute;
    top: 85px;
    height: 100%;
    width: 100%;
    padding-bottom: 150px;
    overflow-y: scroll;
}

#page-edit .forms {
    width: 80%;
    margin: 0 auto 30px;
}

#page-edit .nav-button {
    height: 30px;
    width: 97%;
    display: flex;
    justify-content: space-around;
}

a.send-buttom {
    margin-top: 40px;
}

#page-edit .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

#page-edit label {
    color: #4F4F4F;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

#page-edit input {
    background: #F8F8FC;
    color: #4F4F4F;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 0.4rem;
    padding: 0.8rem;
    margin-bottom: 1.6rem;
}
#page-edit .medication-header {
   width: 100%;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}