#page-perfil  {
  
    height: 100vh;

   
}

#page-perfil main {
    position: absolute;
    top: 85px;
    height: 100%;
    padding-bottom: 85px;
    overflow-y:scroll;
  
}

#page-perfil .forms {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

#page-perfil nav {
    width: 90%;
}

.edit {
    position: fixed;
    right: 20px;
    bottom: 30px;
}

p {
    margin: 20px;
    margin-bottom: 40px;
}

.listItem {
    height: 40px;
}

.description {
    margin-right: 5px;
}

.send-buttom {
    margin-top: 100px;
    text-decoration: none;
}

.logout {
    cursor: pointer;
}




/* edit */

#page-edit {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}


#page-edit main {
    position: absolute;
    top: 85px;
    height: 100%;
    padding-bottom: 150px;
    overflow-y:scroll;
}
#page-edit .forms {
    width: 80%;
    margin: 0 0 0 30px;

}
#page-edit .nav-button {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a.send-buttom {
    margin-top: 40px;
}