#root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    justify-content: left;
    display: block;
}

.MuiToolbar-regular {
    min-height: 48px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

#page-avaliacao main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 85px;
}

#page-avaliacao .send-assessment-button {
    width: 100%;
}

#page-avaliacao .button-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page-avaliacao .pain-image {
width: 100%;
display: flex;
justify-content: center;
}
#page-avaliacao .pain-image img{
    width: 90%;

}

#page-avaliacao .send-assessment-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}