#root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    justify-content: left;
    display: block;
}

.MuiToolbar-regular {
    min-height: 48px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

#page-avaliacao {
    padding-bottom: 85px;
    overflow-y: scroll;
}

#page-avaliacao main {
    position: absolute;
    top: 85px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding-bottom: 85px;
    overflow-y: scroll;
}

#page-avaliacao .send-assessment-button {
    width: 100%;
}

#page-avaliacao .button-group {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page-avaliacao .pain-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

#page-avaliacao .pain-image img {
    width: 90%;
}

#page-avaliacao .send-assessment-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#page-avaliacao .boxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21.18px;
    margin-bottom: 13px;
}
#page-avaliacao .imagem-corpo {
    margin-top: 2.5rem;
}
@media (min-width: 700px) {
    #page-avaliacao .button-group {
        width: 30%;
    }
}

@media (max-width: 700px) {
    #page-avaliacao .boxContainer {
        width: 95%;
    }
    #page-avaliacao .imagem-corpo {
        width: 95%;
    }
}