* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  max-width: 100vw;
  height: 100%!important;
  overflow-x: hidden;
}

main#meu-desempenho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: calc(100% - 6.4rem);

  margin: 0 auto;
  padding: 4.8rem 0 4.8rem;
}

main#meu-desempenho > h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

hr {
  width: calc(100% + 3.2rem);
  transform: translateX(-1.6rem);
  background: #E6E6F0;
  border: 1px solid #E6E6F0;

  margin: 2.4rem 0;
}